.preview-slider {
  &__item {
    position: relative;

    &-content {
      min-height: 460px;
      padding-top: 70px;
      position: relative;
    }

    &-image {
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      background-color: #f3f4f5;
      z-index: -1;
      overflow: hidden;

      img {
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #252424;
        opacity: 0.6;
      }
    }
  }

  &__title {
    margin-bottom: 20px;

    span {
      //
      display: block;
      font-size: 72px;
      line-height: 80px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
    }
  }

  &__text {
    margin-bottom: 32px;

    span {
      display: block;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.3px;
      color: #fff;
    }
  }

  &__button {
    position: absolute;
    left: 15px;
    bottom: 70px;
    height: 49px;
    padding: 0 36px;
    background-color: #3ab6ec;
    font-size: 16px;
    color: #fff;
    line-height: 16px;

    &:hover {
      background-color: #38a8d9;
    }
  }

  .slick-arrow {
    z-index: 1;
    top: auto;
    width: 48px;
    height: 48px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 100%;
    transition: all 0.1s;
    background-image: url("../images/arrows/slider-arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;

    &:hover {
      background-color: #fff;
      background-image: url("../images/arrows/slider-arrow-hover.svg");
    }
  }

  .slick-prev {
    left: 50%;
    bottom: 75px;
    margin-left: 430px;

    &::before {
      content: "";
    }

    @media screen and (max-width: 1200px) {
      left: auto;
      right: 88px;
      margin: 0;
    }
  }

  .slick-next {
    left: 50%;
    bottom: 100px;
    margin-left: 488px;
    transform: rotateY(180deg);

    &::before {
      content: "";
    }

    @media screen and (max-width: 1200px) {
      left: auto;
      right: 30px;
      margin: 0;
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 15px;

    li {
      width: auto;
      margin: 0 6px;

      button {
        width: 6px;
        height: 6px;
        border-radius: 6px;
        padding: 0;
        background: #dce0e5;
        transition: all 200ms;

        &::before {
          display: none;
        }
      }
    }

    li.slick-active {
      button {
        width: 26px;
        background: #38a8d9;
      }
    }
  }
}
