.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  transition: background-color ease 300ms, color ease 300ms;
  text-decoration: none;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}
